
$color-head: hsla(135, 15%, 57%, 0.9);

$color-head2: #00000070;

$color-white: #fff;

$color-black: #000;

$color-black2: rgba(0, 0, 0, 0.700);

$color-primary: #a7c9ad;

$color-secondary: #97cc9f;

$color-hover: #7ac985;

$color-third: #3ca94b;



