#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#productos .productos__separator, #nosotros .nosotros__separator, #index .index__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #objeto #objeto__relacionado .container-lg .row .col-12 a .card, #productos .productos__catalogo .card__container .productos__catalogo__card, #nosotros .nosotros__links__container, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #index .index__information .information__links .information__links__container .information__links__item, #index .index__information .information__cards .information__card__container .information__card__item .row svg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4, #productos .productos__catalogo .card__container .productos__catalogo__card, #index .index__productos .container-lg .index__productos__cards a .index__productos__card {
  transition: all 1s ease;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover, #index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover {
  transform: scale(1.05);
}

#productos .productos__catalogo .productos__title, #index .index__productos .container-lg .index__productos__link div p {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#header {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
}
#header .header__nav {
  background-color: #00000070;
}
@media (min-width: 960px) {
  #header .header__nav {
    background-color: transparent;
  }
}
#header .header__container {
  height: 400px;
  background-color: rgba(129, 162, 137, 0.9);
}
#header .header__container .header__container__title {
  color: #fff;
}
#header .header__container .header__container__logo {
  border: 10px solid #fff;
  z-index: 1;
  width: 178px;
  height: 178px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
@media (min-width: 960px) {
  #header .header__container .header__container__logo {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 960px) {
  #header .header__container {
    height: 612px;
  }
}
#header .abajo {
  background-color: #00000070;
}

#header2 {
  opacity: 0.8;
}
#header2 .header__nav {
  background-color: #00000070;
}

#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#productos .productos__separator, #nosotros .nosotros__separator, #index .index__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #objeto #objeto__relacionado .container-lg .row .col-12 a .card, #productos .productos__catalogo .card__container .productos__catalogo__card, #nosotros .nosotros__links__container, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #index .index__information .information__links .information__links__container .information__links__item, #index .index__information .information__cards .information__card__container .information__card__item .row svg {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4, #productos .productos__catalogo .card__container .productos__catalogo__card, #index .index__productos .container-lg .index__productos__cards a .index__productos__card {
  transition: all 1s ease;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover, #index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover {
  transform: scale(1.05);
}

#productos .productos__catalogo .productos__title, #index .index__productos .container-lg .index__productos__link div p {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#index .index__productos {
  background-image: url("../img/wooden-wall-1846867_640.jpg");
}
#index .index__productos .container-lg .row {
  text-decoration: none;
}
#index .index__productos .container-lg .row .index__productos__title {
  color: #fff;
  backdrop-filter: blur(2px);
}
#index .index__productos .container-lg .index__productos__cards {
  overflow: hidden;
}
#index .index__productos .container-lg .index__productos__cards a {
  text-decoration: none;
  color: #000;
}
#index .index__productos .container-lg .index__productos__cards a .index__productos__card {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#index .index__productos .container-lg .index__productos__cards a .index__productos__card img {
  object-fit: cover;
  width: 100%;
  height: 224px;
}
@media (min-width: 960px) {
  #index .index__productos .container-lg .index__productos__cards a .index__productos__card img {
    height: 290px;
  }
}
#index .index__productos .container-lg .index__productos__cards a .index__productos__card .card-body {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#index .index__productos .container-lg .index__productos__link div p {
  font-weight: bold;
}
#index .index__productos .container-lg .index__productos__link div p:hover {
  text-decoration: underline;
}
#index .index__information .information__cards .information__card__container .information__card__item .row svg {
  background-color: #97cc9f;
}
#index .index__information .information__links .information__links__container .information__links__item {
  background-color: #97cc9f;
  height: 250px;
  transition: all 0.5;
}
#index .index__information .information__links .information__links__container .information__links__item:hover {
  background-color: #7ac985;
}
#index .index__information .information__links .information__links__container .information__links__item a {
  text-decoration: none;
  color: #fff;
}
#index .index__information .information__links .information__links__container .information__links__item a svg {
  height: 100px;
  width: 100px;
}

@keyframes link {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#productos .productos__separator, #nosotros .nosotros__separator, #index .index__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #objeto #objeto__relacionado .container-lg .row .col-12 a .card, #productos .productos__catalogo .card__container .productos__catalogo__card, #nosotros .nosotros__links__container, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #index .index__information .information__cards .information__card__container .information__card__item .row svg, #index .index__information .information__links .information__links__container .information__links__item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4, #productos .productos__catalogo .card__container .productos__catalogo__card, #index .index__productos .container-lg .index__productos__cards a .index__productos__card {
  transition: all 1s ease;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover, #index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover {
  transform: scale(1.05);
}

#productos .productos__catalogo .productos__title, #index .index__productos .container-lg .index__productos__link div p {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#nosotros .nosotros__information {
  background: url("../img/wooden-wall-1846867_640.jpg");
}
#nosotros .nosotros__information .container-lg {
  overflow: hidden;
}
#nosotros .nosotros__information .container-lg .nosotros__information__container {
  padding-top: 130px;
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img {
  border: 5px dashed #97cc9f;
  background-color: white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img .information__pin {
  width: 100px;
  height: 100px;
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img .information__img--rotate {
  transform: rotate(9deg);
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img .information__img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 540px) {
  #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img .information__img {
    height: 350px;
  }
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img .information__container__fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__img--rotate {
  transform: rotate(5deg);
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body {
  background-color: rgba(166, 201, 173, 0.5);
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body h2 {
  font-size: 18px;
}
#nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body h1 {
  font-size: 18px;
}
@media (min-width: 992px) {
  #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body h2 {
    font-size: 20px;
  }
  #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body h1 {
    font-size: 20px;
  }
}
#nosotros .nosotros__links__container {
  background-color: #a7c9ad;
}

#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#productos .productos__separator, #index .index__separator, #nosotros .nosotros__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #objeto #objeto__relacionado .container-lg .row .col-12 a .card, #productos .productos__catalogo .card__container .productos__catalogo__card, #index .index__information .information__cards .information__card__container .information__card__item .row svg, #index .index__information .information__links .information__links__container .information__links__item, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #nosotros .nosotros__links__container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4, #productos .productos__catalogo .card__container .productos__catalogo__card, #index .index__productos .container-lg .index__productos__cards a .index__productos__card {
  transition: all 1s ease;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover, #index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover {
  transform: scale(1.05);
}

#productos .productos__catalogo .productos__title, #index .index__productos .container-lg .index__productos__link div p {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#productos .productos__catalogo {
  padding-top: 130px;
  background-color: #a7c9ad;
}
#productos .productos__catalogo .productos__catalogo__lista {
  position: sticky;
  top: 60px;
}
#productos .productos__catalogo .productos__catalogo__lista li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #3ca94b;
  opacity: 0;
  transition: all 100ms ease;
}
#productos .productos__catalogo .productos__catalogo__lista li:hover {
  background-color: #97cc9f;
  color: #fff;
  border: 1px solid #3ca94b;
}
#productos .productos__catalogo .productos__catalogo__lista li:hover::before {
  opacity: 1;
}
#productos .productos__catalogo .card__container .productos__catalogo__card {
  background-color: transparent;
}
#productos .productos__catalogo .card__container .productos__catalogo__card .card-body {
  background-color: #fff;
}
#productos .productos__catalogo .card__container .productos__catalogo__card img {
  height: 250px;
  object-fit: cover;
}
@media (max-width: 540px) {
  #productos .productos__catalogo .card__container .productos__catalogo__card img {
    height: 150px;
  }
}
#productos .productos__catalogo .container-lg .row .col-md-12 .row .card__container a {
  text-decoration: none;
}

#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#index .index__separator, #nosotros .nosotros__separator, #productos .productos__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #objeto #objeto__relacionado .container-lg .row .col-12 a .card, #index .index__information .information__cards .information__card__container .information__card__item .row svg, #index .index__information .information__links .information__links__container .information__links__item, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #nosotros .nosotros__links__container, #productos .productos__catalogo .card__container .productos__catalogo__card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4, #index .index__productos .container-lg .index__productos__cards a .index__productos__card, #productos .productos__catalogo .card__container .productos__catalogo__card {
  transition: all 1s ease;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover, #index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover {
  transform: scale(1.05);
}

#index .index__productos .container-lg .index__productos__link div p, #productos .productos__catalogo .productos__title {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#objeto {
  background-color: #a7c9ad;
}
#objeto #objeto__producto .container-lg .objeto__producto__container {
  overflow: hidden;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
#objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 p span {
  font-weight: lighter;
}
#objeto #objeto__relacionado .container-lg .row .col-12 a {
  text-decoration: none;
}
#objeto #objeto__relacionado .container-lg .row .col-12 a .card {
  transition: all 1s;
  background-color: transparent;
}
#objeto #objeto__relacionado .container-lg .row .col-12 a .card img {
  max-height: 250px;
  object-fit: cover;
}
#objeto #objeto__relacionado .container-lg .row .col-12 a .card:hover {
  transform: scale(1.05);
}
#objeto #objeto__relacionado .container-lg .row .col-12 a .card .card-body {
  background-color: #fff;
}

#index .index__productos .container-lg .index__productos__link div {
  animation-name: link;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#cuenta .cuenta__form .form__container fieldset .row #change2, #cuenta .cuenta__form .form__container fieldset .row #change {
  animation-name: linkChange;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#index .index__separator, #nosotros .nosotros__separator, #productos .productos__separator {
  background: #b4d5b9;
  background: linear-gradient(180deg, rgba(129, 162, 137, 0.9) 0%, rgba(180, 213, 185, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100px;
}

#cuenta .cuenta__form .form__container, #index .index__information .information__cards .information__card__container .information__card__item .row svg, #index .index__information .information__links .information__links__container .information__links__item, #nosotros .nosotros__information .container-lg .nosotros__information__container .information__container__body, #nosotros .nosotros__links__container, #productos .productos__catalogo .card__container .productos__catalogo__card, #objeto #objeto__relacionado .container-lg .row .col-12 a .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#index .index__productos .container-lg .index__productos__cards a .index__productos__card, #productos .productos__catalogo .card__container .productos__catalogo__card, #objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4 {
  transition: all 1s ease;
}
#index .index__productos .container-lg .index__productos__cards a .index__productos__card:hover, #productos .productos__catalogo .card__container .productos__catalogo__card:hover, #objeto #objeto__producto .container-lg .objeto__producto__container .col-12 .row .col-12 h4:hover {
  transform: scale(1.05);
}

#index .index__productos .container-lg .index__productos__link div p, #productos .productos__catalogo .productos__title {
  text-shadow: 3px 3px 20px #005d00, -2px 1px 30px #004700;
}

#cuenta {
  padding-top: 100px;
  background-image: url("../img/wooden-wall-1846867_640.jpg");
}
#cuenta .cuenta__title {
  background-color: rgba(166, 201, 173, 0.5);
}
#cuenta .cuenta__form {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#cuenta .cuenta__form .form__container {
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
}
#cuenta .cuenta__form .form__container fieldset legend {
  color: #7ac985;
}
#cuenta .cuenta__form .form__container fieldset .row label {
  color: #7ac985;
}
#cuenta .cuenta__form .form__container fieldset .row input {
  border: 2px solid #7ac985;
  border-radius: 5px;
}
#cuenta .cuenta__form .form__container fieldset .row .btn__send {
  background-color: #97cc9f;
  color: #fff;
}
#cuenta .cuenta__form .form__container fieldset .row .btn__send:hover {
  background-color: #7ac985;
}
#cuenta .cuenta__form .form__container fieldset .row #change {
  text-decoration: underline;
  cursor: pointer;
  color: #a7c9ad;
}
#cuenta .cuenta__form .form__container fieldset .row #change:hover {
  color: #7ac985;
}
#cuenta .cuenta__form .form__container fieldset .row #change2 {
  text-decoration: underline;
  cursor: pointer;
  color: #a7c9ad;
}
#cuenta .cuenta__form .form__container fieldset .row #change2:hover {
  color: #7ac985;
}
#cuenta .cuenta__form .form__logIn {
  transform: perspective(500px) rotateY(0deg);
  transition: all 2s;
  visibility: visible;
  z-index: 1;
}
#cuenta .cuenta__form .form__checkIn {
  transform: perspective(500px) rotateY(180deg);
  transition: all 2s;
  z-index: 1;
}
#cuenta .cuenta__form .form__logIn--active {
  visibility: hidden;
  transform: perspective(500px) rotateY(180deg);
  z-index: 0;
}
#cuenta .cuenta__form .form__checkIn--active {
  transform: perspective(500px) rotateY(360deg);
}

@keyframes linkChange {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}
#footer {
  background-image: url("../img/fondo.jpg");
  position: relative;
}
#footer .footer__fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#footer .container-lg {
  height: 100px;
}
#footer .container-lg .row ul {
  z-index: 1;
  list-style: none;
}
#footer .container-lg .row ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
#footer .container-lg .row ul li a img {
  border-radius: 5px;
}
#footer .container-lg .row ul li a:hover img {
  filter: invert(48%) sepia(95%) saturate(338%) hue-rotate(78deg) brightness(96%) contrast(86%);
}

/*# sourceMappingURL=style.css.map */
