@import '../base/colors';
@import '../base/extend';

#index{
    .index__separator{
        @extend %separator
    }

    .index__productos{
        background-image: url('../img/wooden-wall-1846867_640.jpg');
        .container-lg{
            .row{
                .index__productos__title{
                    color: $color-white;
                    backdrop-filter: blur(2px);
                }

                text-decoration: none;
            }

            .index__productos__cards{
                overflow: hidden;
                a{
                    text-decoration: none;
                    color: $color-black;

                    .index__productos__card{
                        background-color: transparent;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                        @extend %productoHover;
                        
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 224px;
    
                            @media (min-width: 960px){
                                height: 290px;
                            }
                        }
    
                        .card-body{
                            background-color: $color-white;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
            }

            .index__productos__link{
                div{
                    @extend %link;

                    p{
                        font-weight: bold;
                        @extend %textShadow;
                    
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    
                }
            }
            
        }
    }

    .index__information{
        .information__cards{
            .information__card__container{
                .information__card__item{
                    .row{
                        svg{
                            background-color: $color-secondary;
                            @extend %shadow;
                        }
                    }
                } 
            } 
        }

        .information__links{
            .information__links__container{
                .information__links__item{
                    background-color: $color-secondary;
                    height: 250px;
                    @extend %shadow;
                    transition: all .5;

                    &:hover{
                        background-color: $color-hover;
                    }

                    a{
                        text-decoration: none;
                        color: $color-white;
                        
                        svg{
                            height: 100px;
                            width: 100px;
                        }
                    }
                }
            }
        }
    }
}


@keyframes link {
    0%{
        transform: translateX(-5px);
    }  
    100%{
        transform: translateX(5px);
    }
}