@import '../base/colors';
@import '../base/extend';


#nosotros{

    .nosotros__separator{
        @extend %separator;
    }

    .nosotros__information{
        background: url('../img/wooden-wall-1846867_640.jpg');
        .container-lg{
            overflow: hidden;
            .nosotros__information__container{
                padding-top: 130px;
                .information__container__img{
                    border: 5px dashed $color-secondary;
                    background-color: white;
                    position: relative;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    .information__pin{
                        width: 100px;
                        height: 100px;
                    }
                    .information__img--rotate{
                        transform: rotate(9deg);
                    }
                    .information__img{
                        
                        height: 500px; 
                        width: 100%;
                        object-fit: cover;
                        @media (max-width: 540px) {
                            height: 350px;
                        }
                        
                    }
                    .information__container__fondo{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                } 

                .information__container__img--rotate{
                    transform: rotate(5deg);
                }

                .information__container__body{
                    background-color: hsla(131, 24%, 72%, 0.500);
                    @extend %shadow;

                    h2{
                        font-size: 18px;
                    }
                    h1{
                        font-size: 18px;

                    }

                    @media (min-width: 992px) {
                        h2{
                            font-size: 20px;
                        }
                        h1{
                            font-size: 20px;
                        }
                    }
                }

            }
        }
    }

    .nosotros__links__container{
        background-color: $color-primary;
        @extend %shadow;
    }
}